@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.heading {
    text-align: center;
    font-size: 40px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    gap: 40px;
}

.sketch-pad {
    background-color: #fff;
    border: 3px black solid;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sketch-pad:hover {
    cursor: url(assets/pencil.svg), auto;
}

.pixel {
    background-color: #fff;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    width: 250px;
    background-color: rgb(223, 223, 223);
}

.controlhead {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.slidecontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 25px;
  }
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: hwb(226 29% 14%);
    cursor: pointer;
}

#colordisplay {
    padding-left: 10px;
}

#colorPick {
    border: none;
    padding: 5px;
    width: 70px;
}

#resetbtn,
#eraser {
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    margin-top: 10px;
    color: rgb(117, 117, 117);
    transition: all 150ms;
}

#resetbtn:hover,
#eraser:hover {
    cursor:pointer;
    background-color: rgb(236, 236, 236);
}

#eraser.active {
    background-color: rgb(190, 190, 190);
}

.control {
    font-size: 18px;
}